.container {
   max-width: 1000px;
   margin: 0 auto;
   padding: 20px;
 }

 .page {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  height: 100%;
  margin: 0;
}
 
 .title {
   color: var(--yellow);
 }

 .button {
  background-color: var(--background-darker);
  backdrop-filter: blur(20px);
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px;
  font-size: 1.5rem;;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--background-medium);
  transform: translateY(-3px);
}

.button:active {
  background-color: var(--background-darker);
  transform: translateY(3px);
}