.WebsiteBox {
   padding: 20px;
   text-decoration: none;
   color: var(--red);
   border-color: rgb(120, 120, 120);
   border-width: 2px;
   border-style: dashed;
   padding: 30px;
   transition: all 0.2s;
   background-color: var(--background-slightly-low);
 }

.WebsiteBox:hover {
  background-color: var(--background-low);
}
 
 .title {
   color: var(--primary-color);
   font-size: 2rem;
   margin-top: 0;
 }