.WebsiteBox {
   background-color: rgba(30, 27, 27, 0.685);
   padding: 20px;
   text-decoration: none;
   color: var(--text-color);
   border-color: rgb(120, 120, 120);
   border-width: 2px;
   border-style: dashed;
   padding: 30px;
   transition: all 0.2s;
 }

.WebsiteBox:hover {
   background-color: rgba(40, 36, 36, 0.773);
}
 
 .title {
   color: var(--primary-color);
   font-size: 2rem;
   margin-top: 0;
 }