@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
  --primary-color: #953d3d;
  --background-color: #000000;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Mono', Arial, sans-serif; /* FALLBACK FONT */
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

h2 {
  font-size: 2rem;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

h3 {
  font-size: 1.5rem;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

a {
  color: rgb(99, 156, 172);
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

img {
  max-width: 1200px;
}

p {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.3rem;
}

button {
  font-family: 'DM Mono', Arial, sans-serif; /* FALLBACK FONT */
}