@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
  --primary-color: #ac3a3a;
  --background-color: #000000;
  --text-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Mono', Arial, sans-serif; /* FALLBACK FONT */
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}