@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.page {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.button {
  background-color: rgba(0, 0, 0, 0.453);
  backdrop-filter: blur(20px);
  border: none;
  cursor: pointer;
  color: white;
  padding: 15px 30px;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: rgba(36, 36, 36, 0.626);
  transform: translateY(-3px);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.84);
  transform: translateY(3px);
}

.buttoncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.bentoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.inlineimage {
  max-width: 100%;
  padding: 20px;
  padding-top: 0;
  float: none;
  margin: 0 auto;
}

.massivetext {
  font-size: 6vw;
  margin: 0;
  padding: 0;
  animation: fadeIn 1s ease-out;
}

.question {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
    padding-top: 20vh;
  }

  .massivetext {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding-top: 15vh;
  }

  .button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .massivetext {
    font-size: 10vw;
  }

  .question {
    font-size: 1.2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}