.page {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  height: 100%;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 20px;
}

.title {
  color: var(--yellow);
  font-size: 2.5rem;
  border-color: rgb(120, 120, 120);
  border-width: 2px;
  border-style: dashed;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 900px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}
